## Pair RDD

In [ ]:
import pyspark
sc = pyspark.SparkContext(appName="RDD_operations", master="local[*]")

In [ ]:
tuples = [("Jack", 23),("Lil", 56),("Ann", 32),("Mark", 54),("Joe", 17),("Sam", 37)]
pairRDD = sc.parallelize(tuples)

## Save RDD to file

In [ ]:
pairRDD.coalesce(4).saveAsTextFile("out/pairRDD")

In [ ]:
pairRDD.coalesce(1).saveAsTextFile("out/pairRDD")

## Set operations

In [ ]:
rdd1 = sc.parallelize(["cat", "dog", "python"])
rdd2 = sc.parallelize(["magpie", "python", "elephant"])

In [ ]:
# Concatenation, not a sum of sets
rdd1.union(rdd2).collect()

### Zadanie

* To get real sum of sets with `union` use `.distinct()`.

In [ ]:
rdd1.intersection(rdd2).collect()

## Pair RDD joins

Joining RDDs works similar to SQL tables with key-value pairs `(key, value)`.

In [ ]:
species = sc.parallelize([("Max", "dog"), ("Sasha", "cat"), ("Alice", "snake")])
ages = sc.parallelize([("Alice", 3), ("Max", 11), ("Ulrich", 2), ("Karl", 31)])

### Exercise

* Print all animals with known age.

In [ ]:
# Podpowiedź
z = ("a", ("b", "c"))
print(z[1])
print(z[1][0])

In [ ]:
# left outer join
species.leftOuterJoin(ages) \
  .collect()

In [ ]:
# right outer join
species.rightOuterJoin(ages) \
  .collect()

In [ ]:
# full outer join
species.fullOuterJoin(ages) \
  .collect()

In [ ]:
# iloczyn kartezjański
species.cartesian(ages) \
  .collect()

### Zadanie

* ★ Print all possible pairs of animals `[("Max", "Alice"), ... ("Ulrich", "Karl")]`.

## Grouping (by key)

In [ ]:
cities = sc.parallelize(["Paris, France", "Lyon, France", "Warsaw, Poland", "London, United Kingdom"])

## Zadanie:

Print list:
[('Poland', ['Warsaw, Poland']),
 ('United Kingdom', ['London, United Kingdom']),
 ('France', ['Paris, France', 'Lyon, France'])]

### Zadanie

* Instead `.map(lambda x: (x[0], list(x[1])))` use `.mapValues(some_function)`.